@use "../libs/pxtorem.scss" as *;

// Font
$fontFamily: "SF Pro Display", sans-serif;
$fontSize: rem(20);

// Colors
$colorBG: #141414;
$colorLight: #EEE7E7;
$colorGrey: #646464;
$colorMain: #BB421B;

// Breakpoints
$laptopL: rem(1439.98);
$laptopM: rem(1199.98);
$laptop: rem(1023.98);
$tablet: rem(767.98);
$tabletS: rem(575.98);
$mobileL: rem(424.98);
$mobileM: rem(374.98);
$mobileS: rem(319.98);