<header class="header">
	<div class="header__container">
		<div class="header__wrapper">
			<a href="#" class="header__logo">
				<img src="/src/img/logo.png" alt="Togo logo">
			</a>
			<canvas class="audio-btn"></canvas>
		</div>
		<audio src="/src/audio/song.mp3" id="audio"></audio>
	</div>
</header>